body {
    background-color:black;
 }
 a {
    text-decoration: none;
     color: black;
 }
 .blur {
     filter: blur(5px);
   }
 #h1 {
     margin-top: 20px;
     margin-left: 15px;
 }
 #heading {
     font-size: 30px;
     color: white;
     font-weight: bold;
 }
 .note{
    font-size: 50px;
     color: white;
     font-weight: bold;
 }
 #add-task-text {
     font-size: 25px;
     color: white;
     font-weight:bold;
 }
 
 #button-grp {
     float: right;
     clear: both;
     width: 200px;
     height:50px;
 } 
 /* add task button  */
 #plus-button {
     position: relative;
     top: 10px;
     right: 10px;
     height: 50px;
     width: 50px;
     border-radius: 10%;
     text-align: center;
     font-size: xx-large;
     font-weight: bolder;
     cursor:pointer;
     background-image: url(./Plus_symbol.svg.png);
 }
 
 
 
 #addtask-txt {
     height: 100px;
     width: 100px;
     display: inline-block;
     color: white;
     text-align: center;
     font-size: x-large;
     font-weight: bolder;
 }

 
 #add-new-list-border{
     border: 4px solid rgb(13, 158, 242);
     background-color: skyblue;
     height: 120px;
     width: 300px;
     border-radius: 10px;
     position: absolute;
     top: 25%;
     left: 450px;
     padding: 25px;
     display: none;
     z-index: 1;
     
 }
 
 #add-new-item-border {
     border: 4px solid rgb(13, 158, 242);
     background-color: skyblue;
     height: 120px;
     width: 300px;
     border-radius: 10px;
     position: absolute;
     top: 25%;
     left: 450px;
     padding: 25px;
     display: none;
     z-index: 1;
 }
 
 #add-new-list-heading,
 #add-new-item-heading {
     color: white;
     text-align: center;
     font-size:larger;
     font-weight:bolder;
 }
 
 #input-of-add-list,
 #input-of-add-item {
     text-align: center;
     margin-top: 30px;
     margin-left: 62px;
     border: 1px solid  rgb(13, 158, 242);;
 }
 
 #add-new-list-buttons,
 #add-new-item-buttons {
     display: flex;
     justify-content: space-between;
     cursor: pointer;
 }
 
 .task-btn {
     text-align: center;
     color: blue;
     border: 2px solid black;
     border-radius: 10%;
     cursor: pointer;
     margin: 10px;
 
 }
 .task-btn:hover{
     border:1px solid rgb(13, 158, 242);;
 }
 
 hr {
     background-color: white;
     height: 2px;
 }
 
 /* container for storing card's title */
 #card-title {
     color: blue;
     text-align: center;
     position: relative;
     font-weight: bold;
     font-style: italic;
     top: 50px;
 }
 
 /* container for storing cards */
 #card-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 70px;
     margin-left: 2%;
     flex-wrap: wrap;
     
 }
 .blur {
     filter: blur(5px);
   }
 
 .card {
     margin: 20px;
     position: relative;
     top: 30px;
     background-color: white;
     border-radius: 20px;
     width: 250px;
     height: 250px;
     text-align: center;
     overflow-y: scroll;
 }
 
 .item-content-buttons {
     display: flex;
     position: absolute;
     top: 220px;
     justify-content: space-between;
     cursor: pointer;
 }
 .delete-item-content {
     background-image: url(./WhatsApp\ Image\ 2023-03-30\ at\ 17.00.21.jpeg);
     background-repeat: no-repeat;
     background-size: contain;
     height: 30px;
     width: 40px;
     border: 1px solid white;
     border-radius: 50%;
     border: none;
     border-radius: 10%;
     position: relative;
     left: 140px;
     cursor: pointer;
     margin-bottom: 50px;
 }
 .add-item-content {
     background-image: url(./51767839.webp);
     background-repeat: no-repeat;
     background-size: contain;
     height: 30px;
     width: 40px;
     border-radius: 50%;
     border: 1px solid white;
     border-radius: 10%;
     position: relative;
     left: 150px;
     cursor: pointer;
 }
 .checked {
     text-decoration: line-through;
     color: red;
     list-style-type: none;
 }
 #page2-card-container {
     display: flex;
     flex-wrap: wrap;
 }
 #page2-back {
     position: absolute;
     top: 25px;
 }
 .AddItemonpage2 {
     position: absolute;
     top: 25px;
     left: 90%;
 }
 .item-btn {
     border: 2px solid black;
     cursor:pointer;
     color:blue; 
     margin: 10px;
     margin-bottom: 30px;
 }
 .item-btn:hover{
     border:1px solid rgb(13, 135, 242);; 
 }
 .input{
     height:30px;
     width:180px;
     border-radius:10px;
 
 }
 .input:hover{
     border:3px solid rgb(13, 135, 242);
 }

 
 
 
 /* media */
 @media screen and (min-width:240px) and (max-width:600px) {
 
     #add-new-list-border,#add-new-item-border{
         position: absolute;
          left: 10%;
           top: 20%;
     }
     #card-container{
         align-items:center;
         flex-wrap:nowrap;
         flex-direction:column; 
         height:50rem;
     }
  } 